# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE Settings
.vscode/
.idea/

# Python Environment Files
.python-version

# OS Files
.DS_Store
Thumbs.db

# Log Files
*.log

# Temporary Files
*.tmp

# Model Files (Optional)
*.pkl

# Power BI Auto Recovery
*.pbix.autosave

# Cache Files
.cache/